body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  text-align: center;
  font-size: 12px;
  width: 100%;
  /* Set the fixed height of the footer here */
  /* height: 60px; */
}
