.ListDetail .ListDetail-title {
  font-family: 'Cousine', monospace;
}

.ListDetail .help-block {
  font-size: 16px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.ListDetail-addform {
  margin-bottom: 30px;
}
